* {
    width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: auto;
  background-image: linear-gradient(
    to right,
    rgb(60, 248, 185),
    rgb(115, 93, 243)
  );
}
